<app-menu></app-menu>
<div class="container" *ngIf="recipe">
    <div class="row mt-10">
        <div class="col-md-6 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <!--<div class="form-group input-group-sm">
                    <label for="id">Id</label>
                    <input type="text" class="form-control" id="id" name="nombre" disabled
                    [(ngModel)]="recipe.id" required >
                </div>
                <div class="form-group input-group-sm">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" name="author" disabled
                    [(ngModel)]="recipe.user.firstname+' '+recipe.user.lastname " required>
                </div>-->
                <div class="form-group input-group-sm">
                    <label for="name">Name <strong class="required"> *</strong></label>
                    <input  class="form-control" id="name" name="name" maxlength="150"
                    [(ngModel)]="recipe.name" required>
                    <!--<div class="invalid-feedback">
                        Please choose a username.
                      </div>-->
                </div>
                <div class="form-group input-group-sm">
                    <label for="description">Description <strong class="required"> *</strong></label>
                    <textarea type="text-area" class="form-control" id="description" name="description" maxlength="1500"
                    [(ngModel)]="recipe.description" required></textarea>
                </div>

                <div class="form-group input-group-sm">
                    <label for="keywords">Keywords <strong class="required"> *</strong></label>
                    <tag-input [ngModel]="recipe.keywords" [maxItems]='5' theme='bootstrap' [ngModelOptions]="{standalone: true}"  [identifyBy]="'id'"
                        [displayBy]="'keyword'" (onAdd)="onTagAdded($event)" 
                            (onRemove)="onTagRemoved($event)" required></tag-input>

                    <!--
                            itemsAsObjects = [{id: 0, name: 'Angular'}, {id: 1, name: 'React'}];
                        <tag-input [ngModel]="itemsAsObjects" theme='bootstrap' name="'name'" [identifyBy]="'id'" [displayBy]="'name'" ></tag-input>
                    -->
                </div>
                <br><br>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid || keywordsIsEmpty">
                    <i class="fas fa-pencil-alt"></i> Add</button>


                <br>
                <button class="btn btn-outline-primary btn-block" routerLink="/recipe/list">
                    <i class="fas fa-arrow-alt-circle-left"></i> Back to</button>
            </form>
        </div>

    </div>
</div>