<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
    <a class="navbar-brand" routerLink="/list">Cooking Web Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!--<li class="nav-item">
          <a class="nav-link" *ngIf="isLogged" routerLink="/list"><i class="fas fa-home"></i> Home</a>
        </li>-->
        <li class="nav-item" *ngIf="(isLogged && isAdmin)">
          <a class="nav-link" routerLink="/list"><i class="far fa-list-alt"></i> Products</a>
        </li>
        <li class="nav-item" *ngIf="(isLogged && isAdmin)">
          <a class="nav-link" routerLink="/recipe/list"><i class="far fa-list-alt"></i> Recipes</a>
        </li>
        <li class="nav-item" *ngIf="(isLogged && isAdmin)">
          <a class="nav-link" routerLink="/user/list"><i class="far fa-user"></i> Users</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link"  routerLink="/login"><i class="fas fa-sign-in-alt"></i> Log In</a>
          </li>
          <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
            <a class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open" ></i> Log Out</a>
          </li>
        
      </ul>
    </div>
  </nav>
