<app-menu></app-menu>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <!--<div class="form-group input-group-sm">
                    <label for="id">id</label>
                    <input type="text" class="form-control" id="id" name="nombre" disabled
                    [(ngModel)]="newUser.id" required>
                </div>-->
                <div class="form-group input-group-sm">
                    <label for="username">Username<strong class="required"> *</strong></label>
                    <input type="text" class="form-control" id="username" name="username" maxlength="50"
                    [(ngModel)]="newUser.username" required>
                </div>
                <div class="form-group input-group-sm">
                    <label for="firstname">Firstname<strong class="required"> *</strong></label>
                    <input type="text" class="form-control" id="firstname" name="firstname"  maxlength="150"
                    [(ngModel)]="newUser.firstname" >
                </div>
                <div class="form-group input-group-sm">
                    <label for="lastname">Lastname<strong class="required"> *</strong></label>
                    <input type="text" class="form-control" id="lastname" name="lastname" maxlength="300"
                    [(ngModel)]="newUser.lastname" >
                </div>
                <div class="form-group input-group-sm">
                    <label for="userEmail">Email<strong class="required"> *</strong></label>
                    <input type="text" class="form-control" id="userEmail" name="userEmail"  maxlength="300"
                    [(ngModel)]="newUser.email" required>
                </div>

                <div class="form-group ">
                    <label for="selectMultipleRoles">Roles<strong class="required"> *</strong></label><br>
                    <select class="form-control  form-select-sm mb-3" aria-label=".form-select-sm role" [(ngModel)]="selectedRoles" [ngModelOptions]="{standalone: true}"
                    (change)="roleLoad(selectedRoles)">
                        <option *ngFor="let role of roles" value="{{role.id}}">{{role.roleName}}</option>
                    </select>

                  </div>
                  <div class="d-flex align-items-center" *ngIf="spinner">
                    <strong>Creating...</strong>
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                  </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-circle"></i> Create</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/user/list">
                    <i class="fas fa-arrow-alt-circle-left"></i> Back to</button>
            </form>
        </div>
    </div>
</div>